<section id="view-by-search">
    <h1 class="title_hs">SEARCH</h1>
    {{#if list}}
    {{#each this.list}}
    <div id="infor_hotsong">
        <div>
            <h4 class="title">
                <a href="/song/chords?mapost={{MAPOST}}" id="theloai" >
                    {{TENBAIHAT}}
                </a>
            </h4>
            <p>Poster: {{NGUOIDANG}}</p>
            <p>Singer: {{CASY}}</p>
            <p>Genre: {{THELOAI}}</p>
        </div>
        <div id="rated_form">
            <div id="rated">
                <div class="rate">
                    <input type="radio" name="rate" id="rate-5">
                    <label id="rate-5" for="rate-5" class="fa fa-star"></label>
                    <input type="radio" name="rate" id="rate-4">
                    <label for="rate-4" class="fa fa-star"></label>
                    <input type="radio" name="rate" id="rate-3">
                    <label for="rate-3" class="fa fa-star"></label>
                    <input type="radio" name="rate" id="rate-2">
                    <label for="rate-2" class="fa fa-star"></label>
                    <input type="radio" name="rate" id="rate-1">
                    <label for="rate-1" class="fa fa-star"></label>        
                </div>
            </div>
            <div id="likes">
                <i class="fa fa-thumbs-up"> 1000</i>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
        <div>
            Unknown Song
        </div>
    {{/if}}

</section>